.DS_Store
**/xcuserdata/*
**/*.xccheckout
**/*.xcscmblueprint
build/
.idea
DerivedData/
Spry.framework.zip

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# Fastlane
fastlane/report.xml
fastlane/test_output
fastlane/README.md
