<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spry-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Spry-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>549BF8711E5DA7C200308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF87A1E5DA7C200308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF88E1E5DA7D100308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF8961E5DA7D100308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF8AA1E5DA94100308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF8B21E5DA94100308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF8C61E5DA9DC00308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF8CF1E5DA9DD00308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF8FD1E5DB9E100308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>549BF9051E5DB9E100308A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
